# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ignacio\Documents\Escuela\CC3002 - Metodologías de Diseño y Programación\Ejercicios\yu-gi-oop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
